- content_for :head do
	%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
	%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"}
	%script{:type => "text/javascript", :src => "/assets/sliders.js"}
	%link{:rel => "stylesheet", :type => "text/css", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css"}
	%link{:rel => "stylesheet", :type => "text/css", :href => "/assets/experiments.css"}

#featureImage
	%img

#sliders
	-#camera
	-#lens
	#focalLength
		%p{:value => "Focal Length: "} Focal Length: 0
		%div{:name => "focal_length", :data_min => @range[:focal_length].first, :data_max => "210"}
		-#@range[:focal_length].last}
	#iso
		%p{:value => "ISO: "} ISO: 0
		%div{:name => "iso", :data_min => @range[:iso].first, :data_max => "500"}
		-#@range[:iso].last}
	#shutterSpeed
		%p{:value => "Shutter Speed: "} Shutter Speed: 0
		%div{:name => "shutter_speed", :data_min => "0", :data_max => "0.05"}
			-#@range[:shutter_speed].last}
	#aperture
		%p{:value => "Aperture: f/"} Aperture: f/0
		%div{:name => "aperture", :data_min => @range[:aperture].first, :data_max => "14"}
		-#@range[:aperture].last}
	%br

#stats
	%h2
	%p
	%ul

-##range
-#	-@range.each do |k, v|
-#		%div
-#			%h3= k
-#			%ul
-#				-v.each do |f|
-#					%li= f
